.deApp {
    width: 600px;
    margin: 30px auto 0;
}

.date {
    display: inline-block;
    width: 50%;

    .react-datepicker-wrapper {
        margin-top: 7px;

        input {
            text-align: center;
            padding: 5px 10px;
            font-size: 15px;
            border-radius: 3px;
            border: 1px solid rgb(221, 220, 220);
            outline: none;

            &:focus {
                border-color: #111;
            }
        }
    }
}

.err {
    margin-top: 20px;
    color: #ff0000;
}

.btn-list {
    margin-top: 20px;

    button {
        outline: none;
        color: #fff;
        padding: 5px 20px;
        border-radius: 3px;
        border: 1px solid #007bff;
        font-size: 20px;
        font-weight: 700;
        background: #007bff;
        text-transform: uppercase;

        &.disabled,
        &.disabled:hover {
            background: #ccc;
            border: 1px solid #ccc;
            cursor: default;
        }

        &:hover {
            border-color: #0069d9;
            background: #0069d9;
            cursor: pointer;
        }
    }
}

.transId {
    margin-top: 20px;

    p {
        font-size: 17px;

        &.lblSucc {
            color: rgb(19, 160, 0);
        }
    }
}

.txtInput {
    text-align: center;
    font-weight: 700;
}

.add {
    width: 80%;
    padding: 5px 10px;
    font-size: 14px;
    outline: none;
    resize: none;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 3px;

    &:hover {
        border-color: #333;
    }
}

.each-row {
    margin-top: 5px;
}

.address {
    label {
        font-weight: 700;
    }
}
