.deApp {
  width: 500px;
  margin: 30px auto 0; }

.date {
  display: inline-block;
  width: 50%; }
  .date .react-datepicker-wrapper {
    margin-top: 7px; }
    .date .react-datepicker-wrapper input {
      text-align: center;
      padding: 5px 10px;
      font-size: 15px;
      border-radius: 3px;
      border: 1px solid #dddcdc;
      outline: none; }
      .date .react-datepicker-wrapper input:focus {
        border-color: #111; }

.err {
  margin-top: 20px;
  color: #ff0000; }

.btn-list {
  margin-top: 20px; }
  .btn-list button {
    outline: none;
    color: #fff;
    padding: 5px 20px;
    border-radius: 3px;
    border: 1px solid #007bff;
    font-size: 20px;
    font-weight: 700;
    background: #007bff;
    text-transform: uppercase; }
    .btn-list button.disabled, .btn-list button.disabled:hover {
      background: #ccc;
      border: 1px solid #ccc;
      cursor: default; }
    .btn-list button:hover {
      border-color: #0069d9;
      background: #0069d9;
      cursor: pointer; }

.transId {
  margin-top: 20px; }
  .transId p {
    font-size: 17px; }
    .transId p.lblSucc {
      color: #13a000; }
